<nav class="mt-2">
    <ul class="flex justify-start items-center gap-4">
      <li>
        <a href="https://maps.app.goo.gl/yHj2RfySTtUqRo3YA" class="flex items-center justify-center p-2.5 border rounded-md hover:bg-blue100p20 duration-300">
          <img rel="stylesheet" class="w-5 h-5" src="/nav/location-pin-alt-1-svgrepo-com.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/gui-hmm" class="flex items-center justify-center p-2.5 border rounded-md hover:bg-blue100p20 duration-300">
          <img rel="stylesheet" class="w-5 h-5" src="/nav/github-svgrepo-com.svg">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/guilherme-henrique-mm/" class="flex items-center justify-center p-2.5 border rounded-md hover:bg-blue100p20 duration-300">
          <img rel="stylesheet" class="w-5 h-5" src="/nav/linkedin-svgrepo-com.svg">
        </a>
      </li>
      <li>
        <a href="https://wa.me/qr/VJO3MR273QFHI1" class="flex items-center justify-center p-2.5 border rounded-md hover:bg-blue100p20 duration-300">
          <img rel="stylesheet" class="w-5 h-5" src="/nav/whatsapp-svgrepo-com.svg">
        </a>
      </li>
      <li>
        <a href="/nav/CV_Guilherme_dev_front.pdf" class="flex items-center justify-center p-2.5 border rounded-md hover:bg-blue100p20 duration-300">
          <img rel="stylesheet" class="w-5 h-5" src="/nav/pdf-document-svgrepo-com.svg">
        </a>
      </li>
    </ul>
  </nav>
  