<footer class="flex lg:flex-col md:relative fixed bottom-0 right-0 left-0 bg-blue900 xl:max-h-[773px] md:h-dvh shadow-md xl:rounded">
    <nav class="md:relative flex md:flex-col md:h-[100%] h-[50px] md:w-[70px] w-[100%] justify-center items-center gap-12">
      <a href="/" title="Início" class="hover:text-sky-500">
        <div>
          <img src="/nav/home-svgrepo-com.svg" class="w-6 h-6" alt="home icon">
        </div>
      </a>
      <a href="/projects" title="Projetos" class="hover:text-sky-500">
        <div>
          <img src="/nav/package-svgrepo-com.svg" class="w-8 h-8" alt="repository icon">
        </div>
      </a>
      <a href="/skills" title="Habilidades" class="hover:text-sky-500">
        <div>
          <img src="/nav/repository-svgrepo-com.svg" class="w-8 h-8" alt="skills icon">
        </div>
      </a>
    </nav>
</footer>