<footer class="flex lg:flex-col md:relative fixed bottom-0 right-0 left-0 bg-blue900 xl:max-h-[773px] md:h-dvh shadow-md xl:rounded">
    <nav class="md:relative flex md:flex-col md:h-[100%] h-[65px] lg:w-[75px] md:w-[75px] w-[100%] justify-center items-center gap-12">
      <a href="/" title="Início" class="hover:text-white hover:underline">
        <div class="flex flex-col items-center">
          <img src="/nav/home-svgrepo-com.svg" class="w-6 h-6" alt="home icon">
          <p class="text-white text-xs pt-2">Início</p>
        </div>
      </a>
      <a href="/projects" title="Projetos" class="hover:text-white hover:underline">
        <div class="flex flex-col items-center">
          <img src="/nav/package-svgrepo-com.svg" class="w-8 h-8" alt="repository icon">
          <p class="text-white text-xs pt-2">Projetos</p>
        </div>
      </a>
      <a href="/skills" title="Habilidades" class="hover:text-white hover:underline">
        <div class="flex flex-col items-center">
          <img src="/nav/repository-svgrepo-com.svg" class="w-8 h-8" alt="skills icon">
          <p class="text-white text-xs pt-2">Habilidades</p>
        </div>
      </a>
    </nav>
</footer>