<a href="/" class="inline-flex mb-4 gap-1 items-center duration-300 hover:gap-2 hover:underline hover:decoration-solid text-md">
    <img src="/nav/back.svg" alt="Ícone para Voltar">
    Voltar
</a>

<p class="text-base font-bold text-blue900 mb-4">Habilidades</p>

<input 
  type="text" 
  [(ngModel)]="search" 
  (input)="onSearch()" 
  placeholder="Pesquisar habilidade..." 
  class="mb-4 p-2 bg-blue100 border border-blue900 rounded-lg w-full animate-slide-left"
/>

<div class="animate-slide-left grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5 pb-5">
    @for (skill of filteredSkills; track $index) {
        <div class="flex py-4 px-6 gap-4 border border-blue-900 rounded-md hover:bg-blue-900/10 transition duration-300 ease-in-out">
          <span class="my-auto">
            <img [src]="skill.src" [alt]="skill.alt" [width]="30" class="rounded-lg object-cover" />
          </span>
          <div>
            <h3 class="font-bold text-blue-900">{{ skill.name }}</h3>
            <span class="text-xs text-blue-900/80">{{ skill.role }}</span>
          </div>
        </div>
    }
</div>
