<nav class="mt-2">
  <ul class="text-center justify-center items-center">
    <li>
      <a href="https://maps.app.goo.gl/yHj2RfySTtUqRo3YA" target="_blank" class="flex items-center gap-2 text-sm p-2.5">
        <img rel="stylesheet" class="w-5 h-5" src="/nav/location-pin-alt-1-svgrepo-com.svg">
        <div class=" h-5 w-full flex justify-start hover:underline hover:ms-2 duration-300" >
            <span class="text-white">Olinda</span>
        </div>        
      </a>
    </li>
    <li>
      <a href="https://github.com/gui-hmm" target="_blank" class="flex items-center gap-2 text-sm rounded p-2.5">
        <img rel="stylesheet" class="w-5 h-5" src="/nav/github-svgrepo-com.svg">       
        <div class=" h-5 w-full flex justify-start hover:underline hover:ms-2 duration-300" >
          <span class="text-white">GitHub</span>
        </div>  
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/guilherme-henrique-mm/" target="_blank" class="flex items-center gap-2 text-sm p-2.5">
        <img rel="stylesheet" class="w-5 h-5" src="/nav/linkedin-svgrepo-com.svg">
        <div class=" h-5 w-full flex justify-start hover:underline hover:ms-2 duration-300" >
          <span class="text-white">LinkedIn</span>
        </div>  
      </a>
    </li>
    <li>
      <a href="https://wa.me/qr/VJO3MR273QFHI1" target="_blank" class="flex items-center gap-2 text-sm p-2.5">
        <img rel="stylesheet" class="w-5 h-5" src="/nav/whatsapp-svgrepo-com.svg">
        <div class=" h-5 w-full flex justify-start hover:underline hover:ms-2 duration-300" >
          <span class="text-white">Whatsapp</span>
        </div>  
      </a>
    </li>
    <li>
      <a href="/others/CV_Guilherme_dev_front.pdf" target="_blank" class="flex items-center gap-2 text-sm p-2.5">
        <img rel="stylesheet" class="w-5 h-5" src="/nav/pdf-document-svgrepo-com.svg">
        <div (click)="baixarPDF()" class=" h-5 w-full flex justify-start hover:underline hover:ms-2 duration-300" >
          <span class="text-white">Currículo</span>
        </div>  
      </a>
    </li>
  </ul>
</nav>